/*

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

body {
  width: 100%;
  margin: 0;
}


/*shop*/

.shopContainer {
  padding-top: 40px;
}


.productCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  
}

.img {
  height: 150px;
  width: 100px
}


.product {
  height: 300px;
  width: 200px;
  border: solid;
  
}

.card {
  padding-top: 20px;
  text-align: center;
  
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
}


/*header css*/

.headerDiv {
  background-color: lightgray;
  position: fixed;
  top: 0;
  width: 100%;
  border: 0;
  padding-bottom: 20px;
}


header {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 20px;
  align-items: center;

}

.cartContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.heading:hover {

  border-bottom: solid;
  border-width: 2px;
}

/*product page css*/

.productPageContainer {
  padding-top: 80px;
}

.item {
  border: solid;
  width: 70vw;
  text-align: center;
}

.itemContainer {
  display: flex;
  justify-content: center;
}

form {
  padding-top: 10px;
}

.formContainer {
  text-align: center;
}

.productButton {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.shopButtonContainer {
  padding-top: 10px;
}

.checkoutButtonContainer {
  padding-top: 10px;
}

.addToCartButton {
  padding-right: 20px;
}

label {
  padding-right: 20px;
}

/*cart css*/

.checkoutContainer {
  padding-top: 50px;
  text-align: center;
}

.checkoutImg {
  width: 50px;
  height: 75px;
}


.cartCont1 {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.cartCont2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cartCont {
  border-bottom: solid;
  border-width: 2px;
  width: 50%;
  margin: auto;
  padding-top: 10px;
}

.deleteButtonContainer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.checkoutButtons {

  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

.subTotal {
  padding-top: 20px;
  font-weight: bold;
}