.headerDiv {
    background-color: lightgray;
}


header {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
   align-items: center;
    
}

.cartContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

a:hover {
    
    border-bottom: solid;
    border-width: 2px;
  }