.productCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}

.img {
    height: 150px;
    width: 100px
  }
  

.product {
    height: 300px;
    width: 200px;
    border: solid;
    
}

.card {
    padding-top: 20px;
    text-align: center;
    
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}
